{% extends "base_generic.html" %}


{% block content %}
  <h1>Регистрация пользователя</h1>
  <form action="." method="post">
    {% csrf_token %}
    {% if form.errors %}
      <p class="error">Пожалуйста исправьте нижеприведённые ошибки.</p>
    {% endif %}

    {% if form.errors.username %}
      {{ form.username.html_error_list }}
    {% endif %}
    <div>
        <td><label for="id_username">Логин: </label> </td>
        <td>{{ form.username }}</td>
    </div>
    {% if form.errors.password1 %}
      {{ form.errors.password1 }}
    {% endif %}
    <div>
      <td><label for="id_password1">Пароль: </label></td>
      <td>{{ form.password1 }}</td>
    </div>
    {% if form.errors.password2 %}
      {{ form.errors.password2 }}
    {% endif %}
    <div>
      <td><label for="id_password2">Пароль (снова): </label></td>
      <td>{{ form.password2 }}</td>
    </div>
    <input type="submit" value="Зарегистрировать" />
  </form>
{% endblock %}